<div class="card text-center">
  <div class="card-header">
    {{student.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{dateFormat student.dob "DD/MM/YYYY"}}</h5>
    <img src="{{student.ava}}" alt="">
    <p class="card-text">{{student.gpa}}</p>
    <p class="card-text">{{student.gender}}</p>
  </div>
</div>