<div class="container col-md8 text-center mt-3 mb-3">
   <table class="table table-bordered">
      <tr>
         <th class="h1 text text-primary" colspan="6">LECTURER LIST</th>
         
      </tr>
      <tr>
         <th>Full name</th>
         <th>Subject</th>
         <th>Gender</th>
         <th>Age</th>
         <th>Image</th>
         <th>
            <a class="btn btn-primary" href="/lecturer/add">Add</a>
         </th>
      </tr>
      {{#each lecturers}}
            <tr>
               <td>{{ lecturer_name }}</td>
               <td>{{ lecturer_subject }}</td>
               <td>{{ lecturer_gender }}</td>
               <td>{{ lecturer_age }}</td>
               <td>
                  <img src=" {{ lecturer_img}}"
                  width="150" height="200">
                 </td>
               <td>
                  <a class="btn btn-warning" href="/student/edit/{{_id}}">Edit</a>
                  <a class="btn btn-danger" href="/student/delete/{{_id}}"
                  onclick="return confirm('Are you sure to delete this student ?');">Delete</a>
               </td>
            </tr>
      {{/each}}
   </table>
</div>
